@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Global CSS Start */
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    margin: 0;
    line-height: 1;
}

p {
    line-height: 1.3;
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0.5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
}

button,
textarea,
input {
    font-family: "DM Sans", sans-serif;
}

input {
    font-family: "DM Sans", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0.9375rem;
}

.py-7 {
    padding: 4.375rem 0;
}

.pt-7 {
    padding-top: 4.375rem;
}

.pb-7 {
    padding-bottom: 4.375rem;
}

.py-8 {
    padding: 5rem 0;
}

.pt-8 {
    padding-top: 5rem;
}

.pb-8 {
    padding-bottom: 5rem;
}

.py-10 {
    padding: 6.25rem 0;
}

.pb-10 {
    padding-bottom: 6.25rem;
}

.pt-10 {
    padding-top: 6.25rem;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-0-auto {
    margin: 0 auto
}

.bg_center_cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_center_contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg_left_contain {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.bg-0-0 {
    background-position: 0% 0%;
}

/* Global CSS End */

/* Website Scrollbar CSS  */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #bb9457;
}

::-webkit-scrollbar-thumb {
    background: #432818;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #432818;
}

/* Website Scrollbar CSS  */

/* Section Heading CSS Start */
.section_heading {
    color: #432818;
    font-size: 3rem;
    letter-spacing: 0.3px;
}

span.theme_light {
    color: #bb9457;
}

span.theme_dark {
    color: #422818;
}

.bg_dark {
    background-color: #432818;
}

.bg_light {
    background-color: #faf8f3;
}

.text_white {
    color: #fff;
}

.text_theme {
    color: #bb9457;
}

.text_dark {
    color: #222222;
}

.aoshide {
    overflow: hidden;
}

.fancy_heading_footer_outer {
    width: 100%;
    max-width: 1000px;
    height: 2.5rem;
    margin-top: 0.9375rem;
}

.fancy_heading_footer {
    height: 100%;
    width: 100%;
}

/* Section Heading CSS End */

/* Button CSS Start */

/* Button CSS Start */
.butn {
    position: relative;
    z-index: 2;
    vertical-align: middle;
    display: inline-flex;
    border: none;
    text-align: center;
    background-color: #bb9457;
    color: #fff;
    border-radius: 1.875rem;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.9375rem 1.875rem;
    overflow: hidden;
    align-items: center;
}

.butn::after,
.butn::before {
    content: "";
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #432818;
    transition: 0.6s ease;
}


.butn::before {
    top: -2em;
    left: -2em;
}

.butn::after {
    left: calc(100% + 2em);
    top: calc(100% + 2em);
}

.butn:hover {
    box-shadow: none;
}

.butn:hover::after,
.butn:hover::before {
    height: 25.625rem;
    width: 45.625rem;
}

/* Button CSS End*/


/* Header CSS Start */
.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 0 40px;
    padding: 0.9375rem 0px;
}

.sticky-header.fixed_header {
    background-color: #fff;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.9375rem 0;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.brand-container {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.brand-container a ,.footer-logo a {
    background-image: url(../images/logo_footer.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.75rem;
    width: 14.75rem;
}

.sticky-header.fixed_header .brand-container a {
    background-image: url(../images/logo.svg)
}

.menu-toggle-btn {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    z-index: 60;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sticky-header.fixed_header .menu-toggle-btn {
    filter: invert(1);
}

.navigation-menu {
    display: flex;
}

.navigation-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu ul li a {
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    position: relative;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 1.1rem;
}

.sticky-header.fixed_header .navigation-menu ul li a {
    color: #422818;
}

.navigation-menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.sticky-header.fixed_header .navigation-menu ul li a::after {
    background-color: #422818;
}

.navigation-menu ul li a.active::after {
    transform: scaleX(0.9);
    background-color: #fff;
    transform-origin: center;
}

.navigation-menu ul li a:hover::after {
    transform: scaleX(0.9);
}

.menu-close-btn {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/close.png);
}

.dropdown {
    width: 100%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

.dropdown ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    min-width: 250px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bb9457;
    border-radius: 8px;
    z-index: 999;
    max-height: 0;
    transition: all 0.8s ease;
    opacity: 0;
    visibility: hidden;

}

.dropdown.hover:hover ul {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
}

.dropdown a {
    display: block;
    padding: 0 0 0 10px;
    text-decoration: none;
    color: #222222;

}

.dropdown ul li a {
    color: #000;
    font-weight: 600;
    position: relative;
}

.dropdown ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.dropdown ul li a.active::after {
    transform: scaleX(0.9);
    background: #000;
    transform-origin: center;
}

.dropdown ul li a:hover::after {
    transform: scaleX(0.9);
}


.dropdown ul li a:hover {
    color: #000;
}

.dropdown.hover>a svg {
    fill: #fff;
    width: 15px;
    height: 15px;
    margin-top: -5px;
}

/* Header CSS End */

/* Banner CSS Start */
.banner {
    height: 46.875rem;
    background-color: rgba(0 0 0/80%);
    background-blend-mode: multiply;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_wrap {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.banner_content h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1.4;
    max-width: 650px;
    letter-spacing: 0.5px;
}


.banner_content p {
    font-size: 1.2rem;
    color: #fff;
    max-width: 650px;
    margin-top: 1rem;
    line-height: 1.5;
}

.banner_btns {
    display: inline-flex;
    gap: 0.9375rem;
}

/* Banner CSS Start */

/* Featured Cards CSS Start */
.featured_card_img_outer {
    height: 21.875rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.featured_card_overlay {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(187 148 87/60%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.5s ease;
    text-align: center;
}

.featured_card_img_outer:hover .featured_card_overlay {
    right: 0;
}

.featured_card_img {
    height: 100%;
    width: 100%;
}

.featured_card {
    height: 100%;
    background: #432818;
    width: 100%;
}

.featured_card_content {
    padding: 1.25rem;
}

.featured_card_content h3 {
    color: #fff;
    font-size: 1.875rem;
    margin-bottom: 0.9375rem;
}

.featured_card_content h5 {
    color: #bb9457;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.9375rem;
}

.featured_card_content p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
}

.featured_card_btns::after,
.featured_card_btns::before {
    background-color: #fff;
}

.featured_card_btns:hover {
    color: #432818;
}

/* Featured Cards CSS Start */

/* Image Text Section Start */
.home_explore_sec .col-lg-6:first-child {
    padding: 0;
}

.img_part {
    height: 100%;
    width: 100%;
}

.text_part {
    padding: 5rem 1.875rem;
}

.text_part h3 {
    color: #bb9457;
    line-height: 1.3;
}

.text_part p {
    font-size: 1.2rem;
}

.text_part p a {
    color: #ffc571;
    font-weight: 500;
}

.home_explore_wrap .row {
    background-color: #432818;
    border-left: 5px solid #bb9457;
    border-right: 5px solid #bb9457;
}

.home_explore_wrap .row .col-lg-7 {
    padding: 0;
}

.home_explore_btn::after,
.home_explore_btn::before {
    background-color: #fff;
}

.home_explore_btn:hover {
    color: #432818;
}

/* Image Text Section End */

/* Home Plan Race CSS Start */
.home_plan_race_cards {
    height: 100%;
    width: 100%;
    background: #432818;
}

.home_plan_race_img_outer {
    height: 25rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home_plan_race_img_outer:hover .featured_card_overlay {
    right: 0;
}

.home_plan_race_img {
    height: 100%;
    width: 100%;
}

.home_plan_race_cards_text {

    padding: 1.25rem;
    color: #fff;
}

.home_plan_race_cards_text h5 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
}

/* Home Plan Race CSS End */


/* Newsletter CSS Start */

.newsletter-wrap input {
    width: 80%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #432818;
    padding: 10px;
    color: #432818;
}

.newsletter-wrap input::placeholder {
    color: #432818;
    opacity: 1;
}

.newsletter-wrap input::-ms-input-placeholder {
    color: #432818;
}

.newsletter-wrap p {
    color: #432818;
    font-size: 1.2rem;
}

.newsletter-wrap p span.brown {
    display: inline;
}

.newsletter-wrap h3 {
    line-height: 1.3;
}

.row.newsletter_row {
    max-width: 1000px;
}

.newsletter_btn {
    transition: 0.8s all ease-in-out;
}

/* Newsletter CSS End */

/* footer start  */
.site-footer {
    padding: 3.125rem 0 0.625rem;
    color: #fff;
}

.footer-logo p {
    font-size: 1rem;
    color: #ffffffdb;
    font-weight: 400;
    margin: 0;
    line-height: 1.4;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    border-top: 1px solid #bb9457;
}

.footer-top h4 {
    font-size: 22px;
    margin-bottom: 30px;
}

.footer-links {
    padding-left: 60px;
}

.footer-links li a
 {
    color: #ffffffdb;
    font-size: 18px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: -0.24px;
    transition: all 0.2s linear;
    position: relative;
    padding: 0.625rem;
}
.footer-links li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transform-origin: center;
    transition: all 0.3s ease-out;
}
.footer-links li a:hover::after {
    transform: scaleX(0.9);
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #bb9457;
    padding-top: 0.625rem;
    margin-top: 35px;
}

.footer-bottom p {
    color: #fff;
}

.social-icons ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 230px;
}
.social-icons {
    max-width: 170px;
}
.social-icons li a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: all 0.2s linear;
    padding: 11px;
}

.social-icons li a:hover {
    transform: translateY(-4px);
}

.ssl_logo {
    height: 60px;
    width: 140px;
}

.ssl_logo_inner {
    height: 100%;
    width: 100%;
}

.social-icons li a svg {
    height: 100%;
    width: 100%;
    fill: #fff;
}

/* footer end  */